.filter {
    margin-left: 15px;
    position: relative;
}

.filter_type {
    background-color: #fff;
    border: 2px solid #276d71;
    border-radius: 60px;
    box-shadow: 0 0 10px #012b40;
    padding: 20px 35px 20px 35px;
    position: absolute;
    top: 130%;
    right: 0;
    width: 545px;
    z-index: 5;
}

.filter_category {
    margin: 10px -5px 0;
}

.filter_category span { margin-right: 15px; }

.filter_item {
    color: #5c7273;
    display: inline-block;
    padding: 2px 8px 2px 2px;
    border-radius: 5px;
    margin: 0 5px;
}

.filter_item-active {
    color: #fff;
    background-color: #276d71;
    padding: 7px 20px 7px 10px;
    border-radius: 32px;
}

.filter_item-active .icon {
    color: #276d71;
    background-color: #fff;
}

.filter_item .icon {
    margin-right: 3px;
}
