.filter {
    margin-left: 15px;
    position: relative;
}

.filter_type {
    background-color: #fff;
    border: 2px solid #e8dbbd;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: 130%;
    right: 0;
    width: 425px;
}

.filter_category {
    margin: 10px -5px 0;
}

.filter_category span { margin-right: 15px; }

.filter_item {
    display: inline-block;
    padding: 2px 8px 2px 2px;
    border-radius: 5px;
    margin: 0 5px;
}

.filter_item-active {
    color: #fff;
    background-color: #ffca54;
}

.filter_item-active .icon {
    color: #ffca54;
    background-color: #fff;
}

.filter_item .icon {
    margin-right: 3px;
}
