.filter {
    margin-left: 15px;
    position: relative;
}

.filter_btn {
    background-color: #ffca54;
    color: #fff;
    border-radius: 5px;
    padding: 3px 0;
    text-align: center;
    width: 24px;
}

.filter_type {
    background-color: #fff;
    border: 2px solid #e8dbbd;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: 130%;
    right: 0;
    width: 297px;
}