
.list_container {
    margin: 60px 0;
    padding-left: 10px;
}
.list_item {
    cursor: pointer;
    border-radius: 10px;
}

.list_item:nth-child(odd) .list_title {
    background-color: #e0e0da;
    color: #276d71;
}

.list_item.list_item-active .list_title {
    background-color: #b8e4e8;
    color: #b38e3c;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0.02em;
    padding-top: 8px;
}

.list_item-active .list_item_body { display: block; }

.list_item_head {
    padding: 10px 0;
    position: relative;
    min-height: 60px;
}

.list_item_body {
    display: none;
    margin: -18px 0 15px 13px;
    padding: 25px;
    border-radius: 0 0 20px 20px;
    background-color: #b8e4e8;
}

.list_image {
    border: 5px solid #fff;
    position: absolute;
    left: -15px;
    top: 0;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.list_title {
    display: block;
    padding-left: 55px;
    line-height: 40px;
    font-size: 18px;
    border-radius: 10px;
    font-weight: 500;
}

.list_filter {
    float: right;
    padding: 0 20px;
}

.list_item-active .list_filter {
    color: #387479;
    font-weight: bold;
}

.group_item {
    border-radius: 10px;
    margin-bottom: 30px;
}

.group_heading {
    padding: 5px 20px 10px;
    text-transform: capitalize;
    font-weight: 400;
    color: #e4f7f1;
}

.result-empty {
    background-color: #ddd;
    border-radius: 50px;
    font-size: 22px;
    text-align: center;
    margin: 0 auto;
    padding: 30px 50px;
    position: relative;
    width: 80%;
}

.result-empty:before {
    background: #ddd;
    content: '';
    display: block;
    position: absolute;
    width: 33px;
    height: 45px;
    top: -22px;
    right: 100px;
    transform: rotate(54deg);
    z-index: -5;
}

.result-empty_person {
    text-transform: capitalize;
    font-weight: bold;
    color: #b38e3c;
}




/*----------coworkers-group------------*/

.group_coworkers {
    border: 5px solid #90c7b6;
    background-color: #90c7b6;
}

.group_coworkers .group_heading {
    color: #e4f7f1;
}

/*-------------------------------------*/




/*-----------family-group--------------*/

.group_family {
    border: 5px solid #c79090;
    background-color: #c79090;
}

.group_family .group_heading {
    color: #fdeeee;
}

/*-------------------------------------*/




/*----------friends-group--------------*/

.group_friends {
    border: 5px solid #c7b190;
    background-color: #c7b190;
}

.group_friends .group_heading {
    color: #f7eee1;
}

/*-------------------------------------*/




/*---------schoolmates-group-------------*/

.group_schoolmates {
    border: 5px solid #b9c790;
    background-color: #b9c790;
}

.group_schoolmates .group_heading {
    color: #f1f7e1;
}

/*-------------------------------------*/


.group_item ul {
    padding: 8px 15px 8px 22px;
    background-color: #fff;
    border-radius: 10px;
}

.item_info,
.item_info_type { float: left; }

.personal_info {
    width: 82%;
}

.item_info_type { margin-left: 6%; }

.info_type_title {
    font-size: 20px;
    margin-bottom: 15px;
    color: #698184;
}

.item_info_detail {
    margin-top: 25px;
}

.label_name {
    display: inline-block;
    color: #3f4e4e;
    font-weight: bold;
    width: 88px;
}

.item_image {
    width: 150px;
    height: 150px;
}

.item_info_section {
    float: left;
    width: 15%;
}
